.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
  align-items: center;
  border: 2px solid grey;
  border-radius: 8px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

}

.input {
  height: 40px;
  padding: 5px 10px;
  color: black;
  background: transparent;
}

.submitBtn {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: linear-gradient(135deg, rgba(255,247,226,1) 0%, rgba(255,244,225,1) 100%);

  
}

.submitBtn:hover {
  transform: scale(1.1);
}

.validationPassed {}